<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LosslessTargetEncoder</key>
	<integer>1</integer>
	<key>LosslessTargetEncoderSetting</key>
	<integer>0</integer>
	<key>AACTargetEncoder</key>
	<integer>1</integer>
	<key>AACTargetEncoderSetting</key>
	<integer>2</integer>
	<key>MP3TargetEncoder</key>
	<integer>0</integer>
	<key>MP3TargetEncoderSetting</key>
	<integer>0</integer>
	<key>ExtractAlbumArtwork</key>
	<false/>
	<key>IncludeAdvancedMetadata</key>
	<true/>
</dict>
</plist>
